# Compiled Python files
*.pyc

# Distribution / packaging
dist/

# Website generated content
/website/.idea/
/website/.sass-cache/
/website/app/bower_components/
/website/node_modules/

# Temporary build directories
/website/.tmp/
#/website/static-dist/
