########################################################################
# EnergyMeter uses a MySQL database to store all data. It can use a
# remote database, but most installation will use the MySQL installation
# that is installed locally.
########################################################################

[database]
hostname = raspberrypi		; Default hostname (default: localhost)
port = 3306				    ; MySQL port number (default is 3306)
username = emuser   		; MySQL username (default is current user)
password = em2015			; MySQL password (defaukt is no password)
database = energymeter 		; MySQL database


########################################################################
# The 'metering' section contains the configuration values that are
# only required for the actual metering of the data.
########################################################################

[metering]
#simulation = True			; Set to "True" to simulate using keypresses
logfile = /var/log/energymeter/metering.log
loglevel = DEBUG           ; Logging level (DEBUG, INFO, WARN, ERROR)


########################################################################
# The 'webserver' section contains the configuration values that are
# only required for the webserver.
########################################################################

[webserver]
hostname = 0.0.0.0  		; Webserver binding (default: 0.0.0.0)
port = 8888				    ; Webserver port (default: 80)
#logfile = /var/log/energymonitor/webserver.log
loglevel = DEBUG            ; Logging level (DEBUG, INFO, WARN, ERROR)


########################################################################
# Define all meters using 'meter:<id>'. The identifier should be a
# unique numeric value. This identifier is used in the database too,
# so make sure all your meters have a unique identifier.
#
# Meters are connected to GPIO pins. These pins can either use a
# 'pull up' or a 'pull down' to prevent a floating signal. You can
# check your electrical schema to find out if your input uses a pull up
# (resistor connected to 3.3V) or a pull down (resistor connect to
# ground).
#
# Also specify if the trigger should when the signal is RAISING, FALLING
# or on BOTH changes. It generally doesn't matter if you choose RAISING
# or FALLING, because the pulses will be fairly short. It's important
# to set the bounce time (in milliseconds). After a trigger, it doesn't
# listed for this time for any other triggers. This is useful to prevent
# multiple triggers due to jitter. If you set the bounce time too high,
# then you might miss real triggers.
# 
# Each pulse represents a certain usage. You need to specify the 'unit'
# and how much of those units are represented by a single pulse. Most
# energy meters will pulse every 1Wh, but we want to display the
# information in kWh. The unit is 'kWh', the pulse value will be '.001'
# and the precision will be '3' (three decimals).
#
# We can calculate the actual usage by calculating the duration between
# pulses. If a meter pulses every 5 seconds, then there will be 720
# (=3600/5) pulses in an hour, so the current usage is .720kW. Because
# the current usage is often represented using a different unit, we
# need to specify the current unit (W) and the factor (1000).
#
########################################################################

[meter:1]
description = Electricity		; What is being measured
pulse_value = .001			    ; Each pulse is .001kWh
unit = kWh				        ; Presentation unit of the total usage
unit_precision = 3			    ; Show kWh always with 3 decimals
current_unit = W    			; Presentation unit of the current usage
current_factor = 1000			; We need to multiply with 1000 to show Watts
durations = 60,900,3600         ; Store per minute, quarter and hour
gpio_pin = 22			        ; GPIO pin
gpio_pull_mode = PULL_UP		; Input using PULL_UP or PULL_DOWN
gpio_trigger_edge = RISING		; Trigger on RISING, FALLING or BOTH
gpio_bounce_time = 25   		; Duration that we don't listen after a trigger

[meter:2]
description = Gas			    ; What is being measured
total_unit = m3	    			; Presentation unit of the total usage
pulse_value = .01   			; Each pulse is .01m3
unit = m3		        		; Presentation unit of the total usage
unit_precision = 2  			; Show kWh always with 3 decimals
current_unit = l/hr 			; Presentation unit of the current usage
current_factor = 1000			; We need to multiply with 1000 to show Watts
durations = 60,900,3600         ; Store per minute, quarter and hour
gpio_pin = 27			        ; GPIO pin
gpio_pull_mode = PULL_UP		; Input using PULL_UP or PULL_DOWN
gpio_trigger_edge = RISING	    ; Trigger on RISING, FALLING or BOTH
gpio_bounce_time = 100   		; Duration that we don't listen after a trigger
