[metering]
simulation = False			# Set to "True" to simulate using keypresses

[meter:1]
description = Electricity		# What is being measured
input_type = PULL_UP			# Input using PULL_UP or PULL_DOWN
event_type = RAISING			# Trigger on RAISING, FALLING or BOTH
bounce_time = 25			# Duration that we don't listen after a trigger
total_unit = kWh			# Presentation unit of the total usage
pulse_value = .001			# Each pulse is .001kWh

[meter:2]
description = Gas			# What is being measured
input_type = PULL_UP			# Input using PULL_UP or PULL_DOWN
event_type = RAISING			# Trigger on RAISING, FALLING or BOTH
bounce_time = 100			# Duration that we don't listen after a trigger
total_unit = m3				# Presentation unit of the total usage
pulse_value = .01			# Each pulse is .01m3
