%div{ng: {controller: 'EnergyChartController'}}
  %md-tabs{md: {selected: 'selectedIndex'}}
    %md-tab{ng: {repeat: 'meter in meters'}, label: '{{meter.description}}'}
      %em-chart{style: 'width: 100%; height: 400px;', em: {meter: 'meter', title: 'Today', date: 'date', altdate: 'altdate'}}
  %md-checkbox{ng: {model: 'data.compareWithYesterday'}}
    Compare with yesterday



-#<md-tabs md-selected="selectedIndex">
-#    <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}">
-#    <div class="demo-tab tab{{$index%4}}" layout="column" layout-fill layout-align="space-around center">
-#        <div ng-bind="tab.content"></div>
-#      </div>
-#    </md-tab>
-#  </md-tabs>